<h2 class="indent-bot2">Guest List</h2>

<table style="padding-left: 10px;padding-right: 10px;">
  <tr>
    <th style="padding-left: 10px;padding-right: 10px;">Name</th>
    <th style="padding-left: 10px;padding-right: 10px;">Attending</th>
    <th style="padding-left: 10px;padding-right: 10px;">Code</th>
    <th style="padding-left: 10px;padding-right: 10px;">Adult guests</th>
    <th style="padding-left: 10px;padding-right: 10px;">Child guests</th>
    <th style="padding-left: 10px;padding-right: 10px;">Toddler guests</th>
    <th style="padding-left: 10px;padding-right: 10px;">Rsvp date</th>
    <th style="padding-left: 10px;padding-right: 10px;"></th>
    <th style="padding-left: 10px;padding-right: 10px;"></th>
    <th style="padding-left: 10px;padding-right: 10px;"></th>
  </tr>

<% @guests.each do |guest| %>
  <tr>
    <td style="padding-left: 10px;padding-right: 10px;"><%= guest.first_name %> <%= guest.last_name %></td>
    <td style="padding-left: 10px;padding-right: 10px;"><%= guest.will_attend ? "Yes" : "No" %></td>
    <td style="padding-left: 10px;padding-right: 10px;"><%= guest.code %></td>
    <td style="padding-left: 10px;padding-right: 10px;"><%= guest.adult_guests %></td>
    <td style="padding-left: 10px;padding-right: 10px;"><%= guest.child_guests %></td>
    <td style="padding-left: 10px;padding-right: 10px;"><%= guest.toddler_guests %></td>
    <td style="padding-left: 10px;padding-right: 10px;"><%= guest.rsvp_date %></td>
    <td style="padding-left: 10px;padding-right: 10px;"><%= link_to 'Show', guest %></td>
    <td style="padding-left: 10px;padding-right: 10px;"><%= link_to 'Edit', edit_guest_path(guest) %></td>
    <td style="padding-left: 10px;padding-right: 10px;"><%= link_to 'Destroy', guest, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Guest', new_guest_path %>
