<% content_for :head do %>
    <%= stylesheet_link_tag :rsvp -%>
<% end %>

<script type="text/javascript">

    $(document).ready(function() {
        $("input#attending_yes").bind('click', function(){ radioPressed(true) });
        $("input#attending_no").bind('click', function(){ radioPressed(false) });
        $("input#send_email").bind('click', function() { $('div#email_confirm').toggle('fast') });

        if ($("input#attending_yes").is(":checked")) { $("div#guest_info").show() }
        if ($("input#send_email").is(":checked")) { $('div#email_confirm').show() }
    });

    function radioPressed(state) {
        if (state) {
            $("div#guest_info").show('fast');
        } else {
            $("div#guest_info").hide('fast');
        }
    }

</script>

<p id="notice"><%= notice %></p>

<%= form_tag( { :controller => "rsvp", :action => "confirm" }) do %>
    <% if @errors %>
        <div id="error_explanation">
          <h2><%= pluralize(@guest.errors.count, "error") %> prohibited this guest from being saved:</h2>

          <ul>
            <% @errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= hidden_field_tag "guest_code", @guest.code %>
    <div class="field">
      <h2>Hey, <%= @guest.last_name %> Family!</h2>
    </div>
    <div class="field">
      <h3>Will you be attending?</h3>
      <%= radio_button_tag :attending, :yes %> <%= label_tag :attending_yes, "Yes! We'll be there with bells on." %>
      <%= radio_button_tag :attending, :no %> <%= label_tag :attending_no, "Regretfully decline" %>
    </div>
    <div id="guest_info" style="display: none;"> <!-- style="display: none;" -->
      <div class="field">
        <h3>How many adult guests will be attending?</h3>
        <%= number_field_tag "adult_guests", @guest.adult_guests %>
      </div>
      <div class="field">
        <h3>How many child guests will be attending?</h3>
        <%= number_field_tag "child_guests", @guest.child_guests %>
      </div>
    </div>
    <h3>Would you like a confirmation email?</h3>
    <%= check_box_tag :send_email, :yes, false %> <%= label_tag :send_email, "Send me a confirmation email" %>
    <div id="email_confirm" style="display: none;">
      <h3>Email Address:</h3>
      <%= email_field_tag :email, @guest.email %>
    </div>
    <br />
    <div class="actions">
      <%= submit_tag "Submit" %>
    </div>

<% end %>
