<h2>Listing pages</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Page Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= page.title %></td>
    <td><%= page.slug %></td>
    <td><%= link_to 'Show', page %></td>
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
    <td><%= button_to "Delete", page, :method => :delete, :data => { :confirm => 'Are you sure you wish to delete this page?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page', new_page_path %>
